adafruit-ampy==1.0.7
autopep8==1.5.4
bitstring==3.1.7
cffi==1.14.4
click==7.1.2
cryptography==3.3.1
ecdsa==0.16.1
esptool==3.0
pycodestyle==2.6.0
pycparser==2.20
pyserial==3.5
python-dotenv==0.15.0
pyudev==0.22.0
reedsolo==1.5.4
rshell==0.0.28
six==1.15.0
toml==0.10.2
