{
  "iot_endpoint": "<IOT_ENDPOINT>",
  "wifi_sid": "<YOUR_WIFI_SID>",
  "wifi_pass": "<YOUR_WIFI_PASSWORD>",
  "client_id": "esp8266-1",
  "iot_topic": "tempReading/bedroom",
  "sleep_seconds" : 300
}